* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

canvas#game {
    background-image: url("../images/levels/level1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}