* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

canvas#game {
    background-image: url("../images/menu/background.jpg"), url("../images/levels/level0.svg"), url(../images/levels/level1.svg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, center, center;
}